*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#efe5d8;
font-family:'Cormorant Garamond',serif;
color:#4d2e35;
}

nav{
position:fixed;
top:0;
width:100%;
background:#6b535aee;
display:flex;
justify-content:space-around;
align-items:center;
padding:20px;
z-index:1000;
backdrop-filter:blur(10px);
}

.logo{
font-family:'Dancing Script',cursive;
font-size:2rem;
color:white;
}

nav ul{
display:flex;
list-style:none;
gap:40px;
}

nav a{
color:white;
text-decoration:none;
font-size:1.3rem;
}

#musicBtn{
width:60px;
height:60px;
border:none;
border-radius:50%;
font-size:1.8rem;
background:#d76d8f;
cursor:pointer;
}

.hero{
min-height:100vh;
padding:140px 8%;
display:flex;
align-items:center;
justify-content:space-between;
gap:50px;
}

.hero-left{
max-width:500px;
}

.hero-left h1{
font-family:'Dancing Script';
font-size:4rem;
margin-bottom:20px;
}

.hero-left p{
font-size:1.5rem;
line-height:1.7;
}

.btn{
display:inline-block;
margin-top:30px;
padding:15px 40px;
background:#a14d68;
color:white;
border-radius:40px;
text-decoration:none;
}

.hero-right{
position:relative;
}

.hero-right img{
width:550px;
border-radius:20px;
box-shadow:0 20px 50px rgba(0,0,0,.2);
}

.date-card{
position:absolute;
right:-30px;
bottom:20px;
background:#fff5e8;
padding:20px;
transform:rotate(-8deg);
}

.story{
padding:100px 10%;
text-align:center;
}

.story h2,
.gallery h2,
.letter-box h2,
.message h2{
font-family:'Dancing Script',cursive;
font-size:55px;
}

#gallery{
    padding:100px 8%;
    text-align:center;
}

#gallery h2{
    font-family:'Dancing Script', cursive;
    font-size:4rem;
    color:#5a2f38;
    margin-bottom:60px;
}

.gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:flex-start;
    gap:30px;
}

.polaroid{
    width:180px;
    background:#fff;
    padding:10px 10px 35px;
    box-shadow:0 8px 18px rgba(0,0,0,.18);
    transition:.4s;
}

.polaroid:nth-child(odd){
    transform:rotate(-4deg);
}

.polaroid:nth-child(even){
    transform:rotate(4deg);
}

.polaroid:hover{
    transform:scale(1.08) rotate(0deg);
    z-index:100;
}

.polaroid img{
    width:100%;
    max-height:240px;
    object-fit:contain;
    display:block;
    margin:auto;
}

/* Mobile */

@media(max-width:768px){

    .gallery{
        gap:20px;
    }

    .polaroid{
        width:150px;
    }

}
.letter-section{
padding:100px 8%;
display:grid;
grid-template-columns:1fr 400px;
gap:50px;
}

.letter,
.contact-box{
background:rgba(255,255,255,.5);
padding:50px;
border-radius:20px;
}

.letter h2,
.contact-box h2{
font-family:'Dancing Script';
font-size:3rem;
margin-bottom:30px;
}

.letter p{
font-size:1.3rem;
line-height:2;
}

textarea{
width:100%;
height:220px;
padding:20px;
border:none;
margin:20px 0;
}

button{
width:100%;
padding:18px;
background:#d76d8f;
border:none;
color:white;
font-size:1.2rem;
cursor:pointer;
}

footer{
background:#1e1115;
padding:80px;
text-align:center;
color:white;
}

footer h2{
font-family:'Dancing Script';
font-size:4rem;
margin-top:20px;
}

@media(max-width:900px){

.hero{
flex-direction:column;
}

.hero-right img{
width:100%;
}

.letter-section{
grid-template-columns:1fr;
}

nav ul{
display:none;
}
}
